<p id="notice"><%= notice %></p>

<%= link_to 'Back', recipes_path %>
<p>
  <strong>Image:</strong>
  <%= image_tag @recipe.image ,size: "600x350"%>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @recipe.summary %>
</p>
<p>
<strong>Contains</strong>
   <small> <%= render @recipe.styles if @recipe.styles.present?%></small>
    </p>

    <p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>
<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<% if can? :update, @recipe %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |<%end%>
<% if can? :destroy, @recipe %>
<%= link_to "Delete this Recipe", recipe_path(@recipe),
                                    method: :delete,
                                    data: { confirm: "Are you sure you want to delete this Recipe?"} %> <br>
<%end%>



<%= link_to 'Comments','#', id: "comments-link"%>(<%= @recipe.comments.count%>)


    <div id="comments-section">
       <%= render @recipe.comments %>
    </div>
    <% if user_signed_in? %>
       <%= render 'comments/form'%>
       <%end%>



